/**************************

	transparency slider
	(horizontal version)

***************************/

#control-container2 {
	position:absolute;
	right:10px;
	top:88px;
	z-index:10;
}
#control2 {
	background:#FFF;
	float: left;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	display:inline-block;
	/*position:absolute;*/
	/*		
		right:10px;
		top:160px;
	*/		
	margin-top: 2px
	z-index:10;
	height:30px;
	width:200px;
	border:1px solid #BBB;
	margin-top: 1px;
	/*-webkit-border-radius:3px;
	border-radius:3px;*/
}

div.leaflet-top:nth-child(2){
	    margin-top: 80px;
}

/*pointer for the left - and right + buttons */
span.btn-sm:nth-child(1), span.btn-sm:nth-child(3){
	cursor: pointer;
}
#handle2 {
	z-index:100;
	background:#000;
	float: left;
	position: absolute;
	left:40px;
	top:0px;
	width:10px;
	height:34px;
}
#handle2:hover {
	cursor:pointer;
	background:#444;
	cursor:ew-resize;
}

.time-control {
	float: left;
	border-radius
}

.right-border-radius {
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-radius: 0px 15px 15px 0px;
	margin-top: 1px;
}

.left-border-radius {
	-webkit-border-radius: 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius: 0px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-radius: 15px 0px 0px 15px;
	margin-top: 1px;
	margin-left: 6px;
}